@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --black-coral: #5D5F71;
    --camel: #AD8A64;
    --rose-brown: #BF8B85;
    --queen-pink: #DABECA;
    --linguid-lavender: #E3D8F1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--rose-brown);
}

nav{
    height: 3.5rem;
    width: 85%;
    background-color: var(--black-coral);
    padding: 0 1rem;
    
    display: flex;
    align-items: center;
    
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 5rem;
}

.card-container{
    height: calc(100vh - 3.5rem);
    width: 100%;
    padding: 1rem;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(4, 15rem);
    gap: 1rem;
}

.card{
    height: 20rem;
    width: 15rem;
    color: white;
    background-color: #212529;
    transition: all 0.3s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 5px 6px grey;
    border: 2px solid white;
}

.card img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card .details{
    height: 4rem;
    width: 100%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .footer{
    height: 3rem;
    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
}

.card .footer a{
    text-decoration: none;
}

.card button,
.card a{
    height: 2rem;
    width: 5rem;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0.1rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.card a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card i{
    font-size: 1.2rem;
}

.card button:hover,
.card a:hover{
    background-color: var(--black-coral);
}
